<config>
  <app>
    <image>
      <registry>rtc_app_image_test</registry>
      <container>rtc_app</container>
    </image>
    <port>
      <host>8888</host>
      <container>8080</container>
    </port>
    <db>
      <type>sqlserver</type>
      <instance>PWSP</instance>
      <name>rtc</name>
    </db>
  </app>
  <db>
    <image>
      <registry>rtc_db_image_test</registry>
      <container>rtc_db</container>
    </image>
    <port>
      <host>1433</host>
      <container>1433</container>
    </port>
    <password>Rencho2000</password>
    <shared_dir>
      <host>C:/docker/sqlserver/data</host>
      <container>C:/sqlserver/data</container>
    </shared_dir>
    <dump>
      <name>rtc</name>
      <path>
        <host>C:\docker\rtc\wrapper\pc.bak</host>
        <container>/sqlserver/pc.bak</container>
      </path>
    </dump>
  </db>
</config>
